.contact-me {
    background-image: url('../../assets/contact-pattern.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 16rem;
}

.content-area {
    background: white;
}

.send-button {
    justify-content: center !important;
}
