@import '../../styles/breakpoints.scss';

.footer {
    margin-top: 2rem;
}

.contact-me {
    padding-top: 7rem !important;
    @include desktop-up {
        padding-top: 10rem !important;
        padding-bottom: 10rem !important;
    }
}

.contact-content {
    border: none;
}

.send-button {
    justify-content: center !important;
}