.navbar {
    height: 7rem;
    // display: flex;
    // align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.logo-container {
    align-items: center;
}

.navbar-burger {
    display: flex;
    align-items: center;
    justify-content: center;
}

.exit-icon {
    text-align: center;
}