@import '../../styles/breakpoints.scss';

.cricket-photo {
    background-image: url("../../assets/cricket.gif");
    background-position: 50% 62%;
    background-size: cover;
    height: 20rem;
}

.about-me {
    padding-top: 7rem !important;
    @include desktop-up {
        padding-top: 10rem !important;
        padding-bottom: 10rem !important;
    }
}