@import '../../styles/breakpoints.scss';

.about-me {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include desktop-up {
        flex-direction: row;
    }
}

.about-me-text {
    margin-left: 4rem;
    margin-right: 4rem;
}

.cricket-photo {
    background-image: url('../../assets/cricket.gif');
    background-position: 50% 62%;
    background-size: cover;
    height: 15rem;
    border-radius: 1rem;
    margin: 2rem;
}

.sign-off {
    margin-top: 2rem;
    text-align: right;
}

.signature {
    height: 4rem;
    transform: rotate(6deg);
    margin-right: 7rem;
}

.selfie {
    min-width: 25rem;
    height: 25rem;
    margin: 2rem;

    background-image: url('../../assets/aboutme-selfie.jpg');
    background-position: 10% 0%;
    background-size: cover;
    // filter: brightness(90%);

    border-radius: 1rem;
}
