.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
}

.photo {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    margin-bottom: 1rem;
}
