.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    border-radius: 0.8rem;
    height: 5rem;
    width: 5rem;

    background-image: url("../../../assets/logo.jpg");
    background-position: center;
    background-size: 125%;
}