// @import '../../styles.scss';

.splash {
    height: 100vh;
}

.body-container {
    display: flex;
    align-items: center;
}

.text-container {
    text-align: left;
}

.fa-arrow-down {
    font-size: 2rem;
}

.is-massive {
    font-size: 6rem;
    font-weight: 800;
}

.selfie-container {
    // border: 1rem $light-purple;
    position: absolute;
    top: 0;
    right: 0;
    background: url('../../assets/selfie.jpg');
    background-size: 200%;
    background-position: 60% 20%;
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
}