.splash {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.splash-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    // @include tablet-and-under {
    //     flex-direction: column;
    // }
}

.arrow-down {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
}
