@import '../../styles/breakpoints.scss';
@import '../../styles/styles.scss';

.with-center {
    background: white;
    @include tablet-down {
        margin: 2rem !important;
    }
}

.dark-with-center {
    @include tablet-down {
        margin: 2rem !important;
    }
}
