@import '../styles/breakpoints.scss';

html {
    @include phone-only {
        font-size: 12px !important;
    }
}

#knowledge {
    background-image: url('../assets/knowledge-pattern.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 20%;
    background-position: center;
}

#contact-me {
    background-image: url('../assets/contact-pattern.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 12.5%;
    background-position: center;
}
