@import '../../../styles/breakpoints.scss';

.cover-photo {
    background-position: 50% 50%;
    background-size: cover;
    height: 20rem;
}

.project-card {
    margin: 2rem 2rem;
    @include desktop-up {
        width: 45%;
    }
}

.project-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
