@charset "utf-8";
$light-purple: #FFBEED;
$dark-purple: #2D1457;
$light-background: #f0f0f0;
$dark-background: #222222;

// // light mode
// $text-strong: $dark-purple;
// $primary: $dark-purple;
// $link: $dark-purple;
// $scheme-main: $light-background;

// dark mode
$scheme-main: $dark-background;
$scheme-main-bis: #1a1a1a;
$box-background-color: #1a1a1a;
$text-strong: $light-purple;
$primary: $light-purple;
$background: $dark-background;
$text: $light-purple;
$link: $light-purple;
$subtitle-color: hsl(0, 0%, 45%);

// Update Bulma's global variables
$family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";