.knowledge {
    background-image: url('../../assets/knowledge-pattern.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 20rem;
}

.content-area {
    background: white;
}
.tags {
    margin-bottom: 1rem !important;
    margin-left: 2rem;
}

.tag {
    font-size: 1rem !important;
}

.category {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sub-category-title {
    margin-left: 1rem;
}
