.portrait {
    width: 15rem;
    height: 15rem;

    background-image: url("../../../assets/selfie.jpg");
    background-position: center;
    background-size: 240%;
    background-position: 62% 15%;

    border-radius: 1rem;
}