.portrait {
    width: 15rem;
    height: 15rem;
    margin: 2rem;

    background-image: url("../../../assets/selfie.jpg");
    background-position: center;
    background-size: cover;
    filter: brightness(90%);

    border-radius: 1rem;
}